@if (data) {
<div class="product-card">
  <img [src]="data.img" [alt]="data.name" class="product-img" />

  <div class="product-info">
    <h2>{{ data.name }}</h2>
    <p><strong>ID:</strong> {{ data.id }}</p>
    <p><strong>Price:</strong> ${{ data.price }}</p>
    <p><strong>Quantity:</strong> {{ data.quantity }}</p>
    <p><strong>Category:</strong> {{ data.categoryID }}</p>
  </div>

  <mat-dialog-actions align="end">
    <button mat-raised-button color="primary" mat-dialog-close>Close</button>
  </mat-dialog-actions>
</div>
} @else {

<div class="success-message">
  <span class="icon">✔</span>
  <span class="text">Registered Successfully!</span>
  <mat-dialog-actions align="end">
    <button mat-raised-button color="primary" mat-dialog-close>Close</button>
  </mat-dialog-actions>
</div>
}
