<div class="container my-4">
  <h2 class="text-center mb-4">Search Products</h2>

  <!-- Search Box -->
  <div class="input-group mb-4">
    <input
      type="text"
      [(ngModel)]="searchText"
      class="form-control"
      placeholder="Enter product name..."
      (keyup.enter)="searchProducts()"
    />
    <button class="btn btn-primary" (click)="searchProducts()">Search</button>
  </div>


  <div class="text-center my-3" *ngIf="loading">
    <div class="spinner-border text-primary" role="status"></div>
  </div>


  <div class="row">
    <div class="col-md-4 mb-3" *ngFor="let product of products">
      <div class="card h-100 shadow-sm">
        <img
          [src]="product.thumbnail"
          class="card-img-top"
          alt="{{ product.title }}"
          style="height: 200px; object-fit: cover"
        />
        <div class="card-body">
          <h5 class="card-title">{{ product.title }}</h5>
          <p class="card-text text-muted">{{ product.description }}</p>
          <p class="fw-bold text-success">$ {{ product.price }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
